<link rel="stylesheet" href="../public/css/index.css">

<body>
    <header class="header">
        <div class="container">
            <h1 class="header-title">Welcome to Our Application!</h1>
            <p class="header-text">Experience the best solutions plays games.</p>
            <a href="/contact" class="btn btn-primary">
                <i class="fas fa-envelope"></i> Contact Us
            </a>
        </div>
    </header>

    
    <footer class="footer">
        <div class="container text-center">
            <p>&copy; Valorant 2024@ Muhammad Arif Fajri Rahmadi.</p>
        </div>
    </footer>
</body>